 <!doctype html>
 <html lang="zh-CN">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="__PUBLIC__/css/common.css">
   <link rel="stylesheet" href="__PUBLIC__/css/main.css">
   <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
   <title>Document</title>
 </head>
 <body>
  <div class="container">
     <div id="table" class="mt10">
        <div class="box span10 oh">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
                <tr>
                   <th width="30">ID</th>
                   <th width="100">订单号</th>
				   <th width="100">数量</th>
				    <th width="100">总价</th>
					 <th width="100">单价</th>
					  <th width="100">姓名</th>
					   <th width="100">开户行</th>
					   <th width="100">开户省</th>
					   <th width="100">开户城市</th>
					   <th width="100">开户地址</th>
					    <th width="100">帐号</th>
					   <th width="100">邮箱</th>
					    <th width="100">平台钱包</th>
					   <th width="100">时间</th>
					    <th width="100">状态</th>
						 <th width="100">操作</th>
	 
                   
                </tr>
                
                <foreach name="list" item="vo">
                <tr class="tr">
                   <td class="td_center">{$vo.aid}</td>
                   <td>{$vo.num}</td>
                   <td>{$vo.amount}</td>
				    <td>{$vo.sale_total}</td>
					 <td>{$vo.sale_price}</td>
					 
					  <td>{$vo.sale_name}</td>
					   <td>{$vo.bank_name}</td>
					    <td>{$vo.pname}</td>
						 <td>{$vo.cname}</td>
						  <td>{$vo.bank_add}</td>
					    <td>{$vo.bank_account}</td>
					   <td>{$vo.email}</td>
					   <td>{$vo.wallet}</td>
					    <td>{$vo.add_datetime}</td>
						 <td>
						 <if condition="$vo['status'] eq 1">未完成</if>
						  <if condition="$vo.status eq 2">已完成</if>
						 </td>
						  <td>
						  <if condition="$vo.status eq 2"> ——</if>
						  <if condition="$vo.status eq 1"><a href="{:U('Index/sedit',array('id'=>$vo['aid']))}">点击完成</a></if>
						 
						  </td>
                 </tr>
                 </foreach>
                 
              </table>
              <div class="page mt10">
                <div class="pagination">
                  <ul>
                 	 {$page}
                  </ul>
                </div>
  				 
              </div>
             
        </div>
     </div>
     
     
      

   </div> 
 </body>
 </html>
  