.mbtb_a{
line-height: 40px;
font-size: 16px;}
.cxtj{background: #fff none repeat scroll 0 0;
    border: 1px solid #017897;
    border-radius: 23px;
    color: #017897;
    display: inline-block;
    outline: medium none;
    padding: 10px 0;
    margin: 0 42%;
    width: 16%;
    margin-top: 5%;
    text-align: center;
    transition: all 150ms ease 0s;}
    .fukuan{display: block;
  width: 70%;
  margin: 0  auto;
  z-index: 1;
  background:#eeeeee;
  border-radius: 5px;
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height:450px; 
margin-top: 50px;}
    .email_a{ height: auto;
    	padding-bottom: 3%;
      margin-bottom: 18%;}

    .youjian{
        font-size: 16px;
        }
     .youjian li{ list-style: none;
     }
     .yj{ width: 30%;
        margin: 0px 35%;}
        .sjfk{background: #fff none repeat scroll 0 0;
    border: 1px solid #017897;
    border-radius: 23px;
    color: #017897;
    display: inline-block;
    outline: medium none;
    padding: 5px 40px;
    margin-top: 5%;
    margin-left: 10px;
    transition: all 150ms ease 0s;}
 @media (min-width:10px) and (max-width:700px){
   .mbtb_a{
    width: 95%;
    margin-left: -10%;
    line-height: 40px;
    font-size: 16px;}

.cxtj{background: #fff none repeat scroll 0 0;
    border: 1px solid #017897;
    border-radius: 23px;
    color: #017897;
    display: inline-block;
    outline: medium none;
    text-align: center;
    padding: 10px 0;
    width: 40%;
    margin-left: 20%;
    margin-top: 20px;
    transition: all 150ms ease 0s;}
    .email_a{ height: auto;}
 	}