<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
                <title>比特币兑换商店</title>
  
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/total.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/tubiao/demo.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/tubiao/iconfont.css">
		 <script type="text/javascript">
			(function () {
						var user = null;
						window.getUser = function () {
					return user;
				};
			})();
		</script>
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script type="text/javascript"> function baseUrl() {return '/';}</script>
		<script type="text/javascript" src="__PUBLIC__/js/libs.min.js"></script>


    </head>
        <body class="landing">
        <header id="site-header" >
            <nav id="site-nav">
                <h1 id="logo">
                <a id="smarticons" href="/">
                        <img src="__PUBLIC__/images/logo.png" height="80px;">
                    </a>
                </h1>
               <ul class="site-links">
                        
                <li class=""><a href="/">首页</a></li>
                    <li><a href="{:U('Buy/index')}">买比特币</a></li>
                     <li><a href="{:U('Sale/index')}">卖比特币</a></li>
                     <li class=""><a href="{:U('Index/wenti')}">常见问题</a></li>
                      <li class="call-out"><a href="http://wpa.qq.com/msgrd?v=3&uin=2807183483&site=qq&menu=yes" target='blank' class="sign-in-trial callout">在线客服</a></li>
                </ul>
                <a id="trigger-overlay"><span>导航</span></a>
            </nav>
        </header>

<section class="intro">
   <div class="wrapper">
    <section class="intro-text">
                              <h2 class="yincang" style="visibility: visible; animation-name: fadeInDown;" class="wow fadeInDown">比特币兑换商店</h2>
                              <p  class="yincang" style="visibility: visible; animation-name: fadeInDown;" class="wow fadeInDown">买卖比特币从未如此简单</p>
                              <div class="button-group">
                              <a style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;" href="{:U('Buy/index')}" data-wow-delay="200ms" class="cta button wow fadeInLeft">
                                    
                                           <i class="icon iconfont">&#xf0191;</i>
                                 <i class="icon iconfont">&#xe606;</i>
                                 <i class="icon iconfont">&#xe603;</i>
                                      
                                     买比特币
                                  </a>

                                  <a style="visibility: visible; animation-delay: 200ms; animation-name: fadeInRight;" href="{:U('Sale/index')}" data-wow-delay="200ms" class="cta button wow fadeInRight sign-in-trial">
                                  
                                          <i class="icon iconfont">&#xe603;</i>        
                                <i class="icon iconfont">&#xe606;</i>
                                <i class="icon iconfont">&#xf0191;</i>
                                    
                                      卖比特币
                                  </a>
                              </div>
                          </section>

    <section class="browser">
        <div class="bar">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        
        <ul class="xinxi xixin d_d"><li>常见问题</li></ul>
        <ol class="xinxi xixin d_b" id="roll">
       
        <li class="d_c"><h2 class="cjwt_a">BEBTC如何购买比特币？</h2>
        <p class="cjwt_b">
        1. 点击买比特币菜单，填写购买比特币的数量，邮箱，和您的比特币钱包地址。点击提交后，系统会将此订单发送至您的邮箱.<br/>
        2. 进入您的邮箱中找到BEBTC给您的邮件（有时会在垃圾邮件中），确认订单内容是否正确，确认无误的话，点击付款链接。将人民币转账至平台提供的银行账户或者支付宝。请将转账页面截图并妥善保留转账存根，在发生纠纷时会要求将转账存根提交至平台。<br/>
        3.转账完成后，系统会在一个小时内将您购买的比特币发送至您的比特币钱包地址。<br/>
        </p></li>
        <li class="d_c"><h2 class="cjwt_a">BEBTC如何出售比特币？</h2>
        <p class="cjwt_b">
        1. 点击卖比特币菜单，填写售出数量，您的人民币收款账户，或支付宝账户。点击提交后，系统会将此订单发送至您的邮箱。<br/>
        2. 进入您的邮箱中找到BEBTC给您的邮件（有时会在垃圾邮件中），确认订单内容是否正确，确认无误的话，点击付款链接。将比特币转账至平台提供的比特币地址。请将转账页面截图并妥善保留转账存根，在发生纠纷时会要求将转账存根提交至平台。<br/>
         3.转账完成后，系统会在一个小时内将您卖出比特币所得的人民币汇入您的账户或支付宝。（具体到账时间以收款行为准）。<br/>
</p></li>
        

        </ol>
        <div id="bug"></div>
        
                   <!--<script type="text/javascript">
                     (function(A){
                        function _ROLL(obj){
                          this.ele = document.getElementById(obj);
                          this.interval = false;
                          this.currentNode = 0;
                          this.passNode = 0;
                          this.speed = 50;
                          this.childs = _childs(this.ele);
                          this.childHeight = parseInt(_style(this.childs[0])['height']);
                          addEvent(this.ele,'mouseover',function(){
                            window._loveYR.pause();
                          });
                          addEvent(this.ele,'mouseout',function(){
                            window._loveYR.start(_loveYR.speed);
                           });
                          }
                    function _style(obj){
                    return obj.currentStyle || document.defaultView.getComputedStyle(obj,null);
                     }
                    function _childs(obj){
                    var childs = [];
                    for(var i=0;i<obj.childNodes.length;i++){
                    var _this = obj.childNodes[i];
                   if(_this.nodeType===1){
                    childs.push(_this);
                    }
                    }   
                      return childs;
                      }
                      function addEvent(elem,evt,func){
                   if(-[1,]){
                         elem.addEventListener(evt,func,false);   
                        }else{
                            elem.attachEvent('on'+evt,func);
                          };
                       }
                       function innerest(elem){
                     var c = elem;
                         while(c.childNodes.item(0).nodeType==1){
                           c = c.childNodes.item(0);
                            }
                              return c;
                              }
                                 _ROLL.prototype = {
                             start:function(s){
                               var _this = this;
                          _this.speed = s || 50;
                          _this.interval = setInterval(function(){
           _this.ele.scrollTop += 1;
       _this.passNode++;
       if(_this.passNode%_this.childHeight==0){
          var o = _this.childs[_this.currentNode] || _this.childs[0];
          _this.currentNode<(_this.childs.length-1)?_this.currentNode++:_this.currentNode=0;
          _this.passNode = 0;
          _this.ele.scrollTop = 0;
          _this.ele.appendChild(o);
       }
        },_this.speed);
   },
   pause:function(){
   var _this = this;
      clearInterval(_this.interval);
   }
   }
    A.marqueen = function(obj){A._loveYR = new _ROLL(obj); return A._loveYR;}
})(window);
marqueen('roll').start(50/*速度默认100*/);
 
</script>-->

</section>

    </div>

</section>


<div class="overlay overlay-mega">
    <button type="button" class="overlay-close">Close</button>
    <nav>
          <ul>
        <li><a href="/" title="SmartIcons.co">首页</a></li>
        <li><a href="{:U('Buy/index')}">买比特币</a></li>
        <li><a href="{:U('Sale/index')}">卖比特币</a></li>
        <li><a href="{:U('Index/wenti')}">常见问题</a></li>
   
        <li class="call-out"><a href="http://wpa.qq.com/msgrd?v=3&uin=2807183483&site=qq&menu=yes" target='blank' class="sign-in-trial callout">在线客服</a></li>
        </ul>
    </nav>
</div>



    </body>
</html>
 
